<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="PositionJointInterface" params="name initial_pos">
       
    <joint name="${name}">
        <command_interface name="position"/>
        <state_interface name="position"> 
            <param name="initial_value">${initial_pos}</param>
        </state_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
            <param name="initial_value">0.0</param>
        </state_interface>
    </joint>

  </xacro:macro>

</robot>